%ol.breadcrumb
	%li= link_to 'Sites', sites_path
	%li= link_to 'All Posts', site_posts_path(params[:site_id])
	
= form_for [@site,@post] do |f|
	%div.row
		%div.col-md-4
			%h1.form-new-user-heading #{type} post
		%div.col-md-8
			%div#autoSaveWrap.row.panel.panel-default
				%div.panel-body
					%div.col-md-5
						Autosave Interval
						%select#chooseAutosaveInterval{:class => 'form-control'}
							%option 1 min
							%option 3 min
							%option{:selected => 'selected'} 5 min
							%option 10 min
							%option 20 min
						%span{:class => 'help-block'} How often to autosave
					
					%div.col-md-7
						Autosaves
						%select#autosaves{:class => 'form-control'}
						%span{:class => 'help-block'} Load a previous state
				
	%input{:type=>"hidden", :name => 'site_id', :id => 'site_id', :value => params[:site_id]}
	%div.field
		= f.label :title 
		= f.text_field :title, :id => 'post-title', :class => 'form-control', :value => @post.title
		
	
	%div.field
		%div.row
			%div.col-md-10
				= f.label :banner
			%div.col-md-4
				%input#bannerUpload{:type => 'file', :name => 'banner'}
				= f.hidden_field :banner, :id => 'banner'
				%span{:class => 'help-block'} An image as a backdrop banner
				
			%div.col-md-8
				%div.panel.panel-default
					%div#banner-content.panel-body
						Preview
			
	%div.field
		= f.label :keywords
		= f.text_field :keywords, :id => 'keywords', :class => 'form-control', :value => @post.keywords
		%span{:class => 'help-block'} Comma separated, good search terms
		
	%div.field
		= f.label :description 
		= f.text_area :description, :id => 'description', :class => 'form-control', :value => @post.description
		%span{:class => 'help-block'} Single, search engine-friendly, sentence to describe post
		
	%div.field
		= f.label :content
		#blog-content-wrap
			- if @content
				= raw(@content)
			- else
				#blog-content{:ondrop => 'window.drop(event)', :ondragover => 'window.allowDrag(event)'}
			
		  
%button#submitPost{ :class => 'submit-form btn btn-lg btn-primary btn-block'} Save Post

%div#img_params.modal.fade.bs-example-modal-sm{ :tabindex => "-1", :role => "dialog", 'aria-labelledby' => "mySmallModalLabel",'aria-hidden' => "true"}
	%div.modal-dialog.modal-sm
		%div.modal-content
			%div.modal-header
				%button.close{:type => 'button', 'data-dismiss' => 'modal'}
					%span.glyphicon.glyphicon-remove
					%span.sr-only Close
				%h4.modal-title Image Options
				
			%div.modal-body
				%input#originalRatio{:type => 'hidden'}
				%div.field
					%div.row
						%div.col-md-4
							
						%div.col-md-4
							%div.checkbox
								%label
									%input#lockAspect{:type=>'checkbox'} Lock aspect ratio
				%div.field
					%div.row
						%div.col-md-4.text-right
							%label Height
						%div.col-md-4
							%div.form-group
								%div.input-group
									%input#imgHeightOpt.form-control{:type => 'text'}
									%div.input-group-addon px
				%div.field
					%div.row
						%div.col-md-4.text-right
							%label Width
						%div.col-md-4
							%div.form-group
								%div.input-group
									%input#imgWidthOpt.form-control{:type => 'text'}
									%div.input-group-addon px
			%div.modal-footer
				%button.btn.btn-default{:type=>'button','data-dismiss' => 'modal'} Close
				%button#saveImageDims.btn.btn-primary{:type=>'button'} Save changes
														
						