= javascript 'drillbit/new_post'

= stylesheet 'drillbit/new_post'

= stylesheet 'drillbit/post_form'
= javascript 'jsface'
= javascript 'drillbit/upload'
= stylesheet 'drillbit/upload_gallery'
%div.post_form
	= render 'form', :type => 'New'
